; Input mapping configuration file

[input]

; Movimento del personaggio
ui_up=[key(Up), key(W)]
ui_down=[key(Down), key(S)]
ui_left=[key(Left), key(A)]
ui_right=[key(Right), key(D)]

; Azioni del gioco
interact=[key(Space)]
